<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Administration | Subscribers</title>
        <link rel="icon" href="/static/images/Icon.ico">
    </head>
    <body>
        <form action="/admin/subscribers/compose">
            <table border="1">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>email</th>
                        <th>?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${subscribers}">
                        <td th:text="${s.id}"></td>
                        <td th:text="${s.name}"></td>
                        <td th:text="${s.email}"></td>
                        <td><input type="checkbox"
                                   name="subscribers"
                                   th:attr="value=${s.id}"></td>
                    </tr>
                </tbody>
            </table>
            <button>Compose message</button>
        </form>
    </body>
</html>